@import "../../mixins.scss";
.footer {
  background-color: var(--black3);
  padding: 50px 0;
  color: white;
  position: relative;
  .contentWrapper {
  }
  .about {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 3rem;
    background: linear-gradient(
      45deg,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet
    );
    background-size: 400% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 8s linear infinite;
  }
  @keyframes rainbow {
    0% {
      background-position: 0% 50%;
    }
  
    100% {
      background-position: 100% 50%;
    }
  }
  .me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3rem;
    h3 {
      color: red;
    }
    span {
      color: yellow;
      font-size: 1.3rem;
      a{
        color: inherit;
        text-decoration: none;
      }

      a:hover{
        color: aqua;
        border-bottom: 3px solid green;
      }
    }
    ul {
      font-size: 2rem;
    }
    li {
      list-style: none;
      margin-left: 2rem;
    }
  }

  .infoImg img {
    width: 250px;
    height: 250px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justifyalign-content: center;
    margin: 10px  auto;
  }
  .socialIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    a {
      color: inherit;
    }
    .icon {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: var(--black);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all ease 0.3s;
      &:hover {
        box-shadow: 0 0 0.625em var(--pink) !important;
        color: var(--pink) !important;
      }
    }
  }
}
